
/* ------------- Plan page css --------------- */
.plan {
    padding: 10px;
}

.plan .col-md-6 {
    padding: 10px!important;
}

.card .selected {
    border: 1px solid darkgray;
}

.card {
    height: 100%;
    opacity: 0.6;
    cursor: pointer;
}

.card:hover {
    opacity: 1;
}

.card.active {
    opacity: 1;
    border: orange 3px solid;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.people-number, .drink-number {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detail-show {
    flex-direction: column;
    border: 1px solid gray;
}

.people-number p {
    margin: 0px;
}

button {
    width: 100px;
}

.btn-group button {
    opacity: 0.5;
}

.btn.active{
    opacity: 1;
}

@media screen and (min-width: 992px) {
    .plan-refer {
        border-right: 1px grey dashed;
    }
}