body {
  background-color: #ffd703;
}

.navbar {
  background-color: transparent!important;
  justify-content: space-between;
  margin-left: 40px;
}

a {
  color: rgb(0, 0, 0, 0.8);
  font-size: larger;
}

a.active, a:hover {
  color: darkorange;
  border-bottom: darkorange 3px solid;
}

.logo {
  display: flex;
  margin: auto;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
}

.logo h1 {
  padding-top: 70px;
  padding-right: 10px;
}

.mob-logo {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.mob-logo h3 {
  padding-top: 20px;
  padding-right: 5px;
}

.nav-item {
  margin: 0 10px;
}

.buttons a {
  margin: 10px;
}

.content {
  background-color: #efc900;
  padding: 20px;
}

.details {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.details p {
  padding: 10px;
}

.mob-view {
  display: none;
}

.mob-colum {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-header {
  background-image: url("../assets/img/blender.jpg");
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
}
.btn-forest-green {
  background-color: 	#228B22;
}
.forest-green {
  color: #228B22;
  font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 767px) {
  .mob-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #ffd703;
    width: 100%;
  }

  .web-view {
    display: none;
  }
}

